body {
    font-family: 'Roboto';
}


.hero { 
    position: relative;
    padding: 10px 150px;
}

.hero__image {
    position: absolute;
    height: 500px;
    top: 100px;
    right: -20%;
    z-index: -1;
}

.hero__nav {
    padding-top: 60px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: middle;
    margin-bottom: 40px;
}

.nav__logo {
    height: 50px;
}

.nav__button {
    text-decoration: none;
    color: rgb(150, 150, 150);
    margin-right: 20px;
}

input {
    border: 0px;
}

input:focus {
    outline: none;
}

.nav__input {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding: 4px 0;
        font-size: 13px;
        transition: border-color 0.15s ease-in-out;
}

.hero__promo {
    color: #333;
}

.promo__header {
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 70px;
}

.promo__text {
    color: #999;
    border-left: solid 2px #999;
    padding-left: 20px;
    width: 400px;
    font-size: 12px;
    line-height: 20px;
}



