/* Layout */

.layout {
    min-width: 940px;
  }

/* Wrapper */

.wrapper {
    width: 900px;
    margin: 0 auto;
  }

/* Section */

.section {
    padding: 40px 20px;
    overflow: hidden;
  }
  
  .section_separeted {
    border-top: 1px solid #dedede;
  }

/* Hero */

.hero {
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  
  .hero__inner {
    position: relative;
    z-index: 1;
  }
  
  .hero__top {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 40px;
  }
  
  .hero__logo {
    flex-grow: 1;
  }
  
  .hero__logo-image {
    width: 24px;
  }
  
  .hero__help {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
  }
  
  .hero__image {
    position: absolute;
    bottom: 0;
    right: -20%;
    max-height: 85%;
  }
  
  .hero__content {
    min-height: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .hero_runners {
    background: url('../../img/runners.jpg') no-repeat 50%;
    background-size: cover;
  }
  
  .hero_runners::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .hero_runners .hero__content {
    justify-content: flex-end;
  }

  /* Promo */

  .promo {
    width: 400px;
  }
  
  .promo__title {
    font-size: 40px;
    font-weight: 900;
  }
  
  .promo__text {
    margin-top: 50px;
    border-left: 2px solid #333;
    padding-left: 30px;
    line-height: 20px;
    opacity: 0.5;
  }
  
  .promo__button {
    margin-top: 40px;
  }
  
  .promo_light {
    color: #fff;
  }
  
  .promo_light .promo__text {
    border-left-color: #fff;
    opacity: 1;
  }

  /* image-Promo */

  .image-promo {
    display: flex;
    align-items: center;
  }
  
  .image-promo__content {
    flex-grow: 1;
  }
  
  .image-promo__preview {
    flex-basis: 400px;
  }
  
  .image-promo__image {
    max-width: 100%;
  }

  /* Preview */

  .preview__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
  }
  
  .preview__text {
    margin-top: 40px;
    line-height: 24px;
  }
  
  .preview__more {
    margin-top: 15px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: #EA635C;
    font-weight: 700;
    text-decoration: none;
  }
  
  .preview__more::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    width: 30px;
    background: #EA635C;
    margin-right: 10px;
    transition: width 0.15s ease-in-out;
  }
  
  .preview__more:hover::before {
    width: 40px;
  }
  
  .preview__more-inner {
    display: inline-block;
    vertical-align: middle;
  }
  
  .preview__dots {
    margin: 15px 15px 0;
    position: relative;
  }
  
  .preview__dots,
  .preview__dots::before,
  .preview__dots::after {
    width: 4px;
    height: 4px;
    background: #ccc;
  }
  
  .preview__dots::before,
  .preview__dots::after {
    content: '';
    position: absolute;
  }
  
  .preview__dots::before {
    left: -15px;
  }
  
  .preview__dots::after {
    right: -15px;
  }

  /* Menu */

  .menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    text-decoration: none;
    position: relative;
    color: #333;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
  }
  
  .menu__item::after {
    content: '';
    position: absolute;
    top: 100%;
    padding-top: 10px;
    border-bottom: 2px solid #333;
    opacity: 0;
    left: 0;
    right: 0;
    transition: opacity 0.15s ease-in-out;
  }
  
  .menu__item:first-child {
    margin-left: 0;
  }
  
  .menu__item:hover {
    opacity: 1;
  }
  
  .menu__item:hover::after {
    opacity: 0.5;
  }

  /* Input */

  .input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 4px 0;
    font-size: 13px;
    transition: border-color 0.15s ease-in-out;
  }
  
  .input:focus {
    border-color: rgba(0, 0, 0, 0.6);
  }

  /* columns */

  .columns {
    margin: 0 -40px;
  }
  
  .columns__item {
    padding: 0 40px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
  }
  
  .columns__item_third {
    width: 33.33%;
  }

  /* button */

  .button {
    background: #EA635C;
    display: inline-block;
    vertical-align: middle;
    min-height: 36px;
    line-height: 36px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    transition: background-color 0.15s ease-in-out;
  }
  
  .button:active {
    top: 1px;
  }
  
  .button:hover {
    background: #DB5B56;
  }







